In [1]:
import pandas as pd
from pathlib import Path

In [2]:
# Store filepath in a variable
housing_csv_path = Path("Resource/RDC_Inventory_Core_Metrics_County_History.csv")

In [3]:
# Read our data file with the Pandas library
df = pd.read_csv(housing_csv_path)

In [4]:
# Show the first five rows.
df.head()

,month_date_yyyymm,county_fips,county_name,median_listing_price,median_listing_price_mm,median_listing_price_yy,active_listing_count,active_listing_count_mm,active_listing_count_yy,median_days_on_market,...,average_listing_price,average_listing_price_mm,average_listing_price_yy,total_listing_count,total_listing_count_mm,total_listing_count_yy,pending_ratio,pending_ratio_mm,pending_ratio_yy,quality_flag
0,202410,18049,"fulton, in",277500.0,-0.1175,0.0282,45.0,0.0588,0.4516,54.0,...,363246.0,-0.0473,0.2132,61.0,-0.0620,0.3444,0.3444,-0.1497,-0.1394,0.0
1,202410,13027,"brooks, ga",259900.0,-0.0048,0.1631,25.0,-0.1379,0.0870,60.0,...,295232.0,0.0561,-0.2647,26.0,-0.1500,-0.1905,0.0400,-0.0117,-0.3513,0.0
2,202410,20171,"scott, ks",307000.0,0.2280,0.5049,3.0,-0.4000,-0.6667,113.0,...,302333.0,0.1700,-0.1704,5.0,-0.2857,-0.4444,0.6667,0.3667,NaN,1.0
3,202410,25027,"worcester, ma",546175.0,0.0116,0.0762,1104.0,0.0755,0.3826,31.0,...,635754.0,-0.0007,0.0669,1361.0,0.0998,0.3876,0.2310,0.0381,0.0031,0.0
4,202410,18115,"ohio, in",288650.0,-0.0503,-0.3349,9.0,0.0000,0.4167,45.0,...,280752.0,-0.1108,-0.3824,10.0,0.0526,0.1765,0.1176,0.0000,-0.2990,1.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 310177 entries, 0 to 310176
Data columns (total 40 columns):
 #   Column                                   Non-Null Count   Dtype
---  ------                                   --------------   -----
 0   month_date_yyyymm                        310177 non-null  int64
 1   county_fips                              310177 non-null  int64
 2   county_name                              310177 non-null  object
 3   median_listing_price                     310111 non-null  float64
 4   median_listing_price_mm                  272704 non-null  float64
 5   median_listing_price_yy                  271458 non-null  float64
 6   active_listing_count                     310132 non-null  float64
 7   active_listing_count_mm                  272639 non-null  float64
 8   active_listing_count_yy                  271319 non-null  float64
 9   median_days_on_market                    309807 non-null  float64
 10  median_days_on_market_mm                 272413 non-null  float64
 11  median_days_on_market_yy                 271042 non-null  float64
 12  new_listing_count                        310134 non-null  float64
 13  new_listing_count_mm                     247151 non-null  float64
 14  new_listing_count_yy                     246061 non-null  float64
 15  price_increased_count                    310134 non-null  float64
 16  price_increased_count_mm                 79714 non-null   float64
 17  price_increased_count_yy                 81978 non-null   float64
 18  price_reduced_count                      310134 non-null  float64
 19  price_reduced_count_mm                   227917 non-null  float64
 20  price_reduced_count_yy                   226910 non-null  float64
 21  pending_listing_count                    285860 non-null  float64
 22  pending_listing_count_mm                 250591 non-null  float64
 23  pending_listing_count_yy                 241724 non-null  float64
 24  median_listing_price_per_square_foot     309838 non-null  float64
 25  median_listing_price_per_square_foot_mm  272477 non-null  float64
 26  median_listing_price_per_square_foot_yy  271138 non-null  float64
 27  median_square_feet                       309844 non-null  float64
 28  median_square_feet_mm                    272482 non-null  float64
 29  median_square_feet_yy                    271143 non-null  float64
 30  average_listing_price                    310111 non-null  float64
 31  average_listing_price_mm                 272704 non-null  float64
 32  average_listing_price_yy                 271458 non-null  float64
 33  total_listing_count                      310134 non-null  float64
 34  total_listing_count_mm                   272829 non-null  float64
 35  total_listing_count_yy                   271622 non-null  float64
 36  pending_ratio                            285741 non-null  float64
 37  pending_ratio_mm                         251665 non-null  float64
 38  pending_ratio_yy                         243619 non-null  float64
 39  quality_flag                             273256 non-null  float64
dtypes: float64(37), int64(2), object(1)
memory usage: 94.7+ MB

In [6]:
#Dropping columns that have empty cells over the 50% threshold.
threshold = 0.5
columns_to_drop = df.columns[df.isnull().mean() > threshold]
data_cleaned = df.drop(columns=columns_to_drop)
data_cleaned.head()

,month_date_yyyymm,county_fips,county_name,median_listing_price,median_listing_price_mm,median_listing_price_yy,active_listing_count,active_listing_count_mm,active_listing_count_yy,median_days_on_market,...,average_listing_price,average_listing_price_mm,average_listing_price_yy,total_listing_count,total_listing_count_mm,total_listing_count_yy,pending_ratio,pending_ratio_mm,pending_ratio_yy,quality_flag
0,202410,18049,"fulton, in",277500.0,-0.1175,0.0282,45.0,0.0588,0.4516,54.0,...,363246.0,-0.0473,0.2132,61.0,-0.0620,0.3444,0.3444,-0.1497,-0.1394,0.0
1,202410,13027,"brooks, ga",259900.0,-0.0048,0.1631,25.0,-0.1379,0.0870,60.0,...,295232.0,0.0561,-0.2647,26.0,-0.1500,-0.1905,0.0400,-0.0117,-0.3513,0.0
2,202410,20171,"scott, ks",307000.0,0.2280,0.5049,3.0,-0.4000,-0.6667,113.0,...,302333.0,0.1700,-0.1704,5.0,-0.2857,-0.4444,0.6667,0.3667,NaN,1.0
3,202410,25027,"worcester, ma",546175.0,0.0116,0.0762,1104.0,0.0755,0.3826,31.0,...,635754.0,-0.0007,0.0669,1361.0,0.0998,0.3876,0.2310,0.0381,0.0031,0.0
4,202410,18115,"ohio, in",288650.0,-0.0503,-0.3349,9.0,0.0000,0.4167,45.0,...,280752.0,-0.1108,-0.3824,10.0,0.0526,0.1765,0.1176,0.0000,-0.2990,1.0

In [7]:
removed_columns = list(columns_to_drop)
removed_columns

['price_increased_count_mm', 'price_increased_count_yy']

In [8]:
#only keeping rows where quality flag equals 0. If there was a quality flag it would have been an outlier where the home was overpriced or under priced. 
df_test = df[df['quality_flag'] != 1]
df_test.head(10)

,month_date_yyyymm,county_fips,county_name,median_listing_price,median_listing_price_mm,median_listing_price_yy,active_listing_count,active_listing_count_mm,active_listing_count_yy,median_days_on_market,...,average_listing_price,average_listing_price_mm,average_listing_price_yy,total_listing_count,total_listing_count_mm,total_listing_count_yy,pending_ratio,pending_ratio_mm,pending_ratio_yy,quality_flag
0,202410,18049,"fulton, in",277500.0,-0.1175,0.0282,45.0,0.0588,0.4516,54.0,...,363246.0,-0.0473,0.2132,61.0,-0.0620,0.3444,0.3444,-0.1497,-0.1394,0.0
1,202410,13027,"brooks, ga",259900.0,-0.0048,0.1631,25.0,-0.1379,0.0870,60.0,...,295232.0,0.0561,-0.2647,26.0,-0.1500,-0.1905,0.0400,-0.0117,-0.3513,0.0
3,202410,25027,"worcester, ma",546175.0,0.0116,0.0762,1104.0,0.0755,0.3826,31.0,...,635754.0,-0.0007,0.0669,1361.0,0.0998,0.3876,0.2310,0.0381,0.0031,0.0
5,202410,51183,"sussex, va",313950.0,0.2439,0.3087,18.0,0.5000,-0.0769,28.0,...,379463.0,0.3926,0.6408,25.0,0.4706,-0.1071,0.3889,-0.0278,-0.0470,0.0
7,202410,53011,"clark, wa",671725.0,0.0216,0.0213,1474.0,-0.0277,0.3475,58.0,...,847493.0,0.0022,0.0098,2292.0,-0.0182,0.2906,0.5602,0.0155,-0.0657,0.0
8,202410,13197,"marion, ga",356250.0,1.0099,0.2780,9.0,0.4167,-0.2273,46.0,...,618415.0,0.8691,0.9396,11.0,0.0476,-0.1852,0.3529,-0.4804,0.1257,0.0
9,202410,8073,"lincoln, co",324500.0,-0.0456,0.3423,20.0,-0.0250,-0.0930,59.0,...,387836.0,0.0222,0.2822,25.0,-0.0926,-0.2462,0.2821,-0.0429,-0.2296,0.0
10,202410,48441,"taylor, tx",269925.0,0.0111,-0.0967,623.0,-0.0341,0.1833,67.0,...,339294.0,0.0100,-0.0493,850.0,-0.0308,0.1534,0.3652,0.0032,-0.0185,0.0
11,202410,26063,"huron, mi",209950.0,0.0477,0.0503,117.0,-0.0290,0.3765,72.0,...,390532.0,0.0440,0.4734,141.0,-0.0375,0.2646,0.2265,0.0066,-0.0912,0.0
13,202410,31025,"cass, ne",395100.0,-0.0098,0.1289,81.0,0.0519,0.4336,35.0,...,450639.0,-0.0102,0.0147,133.0,0.1224,0.4457,0.6420,0.1030,-0.0040,0.0

In [9]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 221141 entries, 0 to 310176
Data columns (total 40 columns):
 #   Column                                   Non-Null Count   Dtype
---  ------                                   --------------   -----
 0   month_date_yyyymm                        221141 non-null  int64
 1   county_fips                              221141 non-null  int64
 2   county_name                              221141 non-null  object
 3   median_listing_price                     221084 non-null  float64
 4   median_listing_price_mm                  183966 non-null  float64
 5   median_listing_price_yy                  182440 non-null  float64
 6   active_listing_count                     221096 non-null  float64
 7   active_listing_count_mm                  183967 non-null  float64
 8   active_listing_count_yy                  182430 non-null  float64
 9   median_days_on_market                    220932 non-null  float64
 10  median_days_on_market_mm                 183864 non-null  float64
 11  median_days_on_market_yy                 182320 non-null  float64
 12  new_listing_count                        221098 non-null  float64
 13  new_listing_count_mm                     176637 non-null  float64
 14  new_listing_count_yy                     174204 non-null  float64
 15  price_increased_count                    221098 non-null  float64
 16  price_increased_count_mm                 70028 non-null   float64
 17  price_increased_count_yy                 72002 non-null   float64
 18  price_reduced_count                      221098 non-null  float64
 19  price_reduced_count_mm                   169669 non-null  float64
 20  price_reduced_count_yy                   169788 non-null  float64
 21  pending_listing_count                    206115 non-null  float64
 22  pending_listing_count_mm                 173458 non-null  float64
 23  pending_listing_count_yy                 168799 non-null  float64
 24  median_listing_price_per_square_foot     220912 non-null  float64
 25  median_listing_price_per_square_foot_mm  183869 non-null  float64
 26  median_listing_price_per_square_foot_yy  182404 non-null  float64
 27  median_square_feet                       220916 non-null  float64
 28  median_square_feet_mm                    183872 non-null  float64
 29  median_square_feet_yy                    182405 non-null  float64
 30  average_listing_price                    221084 non-null  float64
 31  average_listing_price_mm                 183966 non-null  float64
 32  average_listing_price_yy                 182440 non-null  float64
 33  total_listing_count                      221098 non-null  float64
 34  total_listing_count_mm                   184011 non-null  float64
 35  total_listing_count_yy                   182652 non-null  float64
 36  pending_ratio                            206084 non-null  float64
 37  pending_ratio_mm                         174206 non-null  float64
 38  pending_ratio_yy                         170053 non-null  float64
 39  quality_flag                             184220 non-null  float64
dtypes: float64(37), int64(2), object(1)
memory usage: 69.2+ MB

In [10]:
#dropping columns that are not needed
cleaned_df= df_test.drop(['median_listing_price', 'median_listing_price_mm','median_listing_price_yy','new_listing_count_mm',
              'new_listing_count_yy','pending_ratio','pending_ratio_mm','pending_ratio_yy','pending_listing_count','pending_listing_count_mm',
             'pending_listing_count_yy','quality_flag'], axis=1)

In [11]:
cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 221141 entries, 0 to 310176
Data columns (total 28 columns):
 #   Column                                   Non-Null Count   Dtype
---  ------                                   --------------   -----
 0   month_date_yyyymm                        221141 non-null  int64
 1   county_fips                              221141 non-null  int64
 2   county_name                              221141 non-null  object
 3   active_listing_count                     221096 non-null  float64
 4   active_listing_count_mm                  183967 non-null  float64
 5   active_listing_count_yy                  182430 non-null  float64
 6   median_days_on_market                    220932 non-null  float64
 7   median_days_on_market_mm                 183864 non-null  float64
 8   median_days_on_market_yy                 182320 non-null  float64
 9   new_listing_count                        221098 non-null  float64
 10  price_increased_count                    221098 non-null  float64
 11  price_increased_count_mm                 70028 non-null   float64
 12  price_increased_count_yy                 72002 non-null   float64
 13  price_reduced_count                      221098 non-null  float64
 14  price_reduced_count_mm                   169669 non-null  float64
 15  price_reduced_count_yy                   169788 non-null  float64
 16  median_listing_price_per_square_foot     220912 non-null  float64
 17  median_listing_price_per_square_foot_mm  183869 non-null  float64
 18  median_listing_price_per_square_foot_yy  182404 non-null  float64
 19  median_square_feet                       220916 non-null  float64
 20  median_square_feet_mm                    183872 non-null  float64
 21  median_square_feet_yy                    182405 non-null  float64
 22  average_listing_price                    221084 non-null  float64
 23  average_listing_price_mm                 183966 non-null  float64
 24  average_listing_price_yy                 182440 non-null  float64
 25  total_listing_count                      221098 non-null  float64
 26  total_listing_count_mm                   184011 non-null  float64
 27  total_listing_count_yy                   182652 non-null  float64
dtypes: float64(25), int64(2), object(1)
memory usage: 48.9+ MB

In [12]:
cleaned_df

,month_date_yyyymm,county_fips,county_name,active_listing_count,active_listing_count_mm,active_listing_count_yy,median_days_on_market,median_days_on_market_mm,median_days_on_market_yy,new_listing_count,...,median_listing_price_per_square_foot_yy,median_square_feet,median_square_feet_mm,median_square_feet_yy,average_listing_price,average_listing_price_mm,average_listing_price_yy,total_listing_count,total_listing_count_mm,total_listing_count_yy
0,202410,18049,"fulton, in",45.0,0.0588,0.4516,54.0,0.2994,-0.2332,14.0,...,0.0070,2102.0,0.0155,0.1075,363246.0,-0.0473,0.2132,61.0,-0.0620,0.3444
1,202410,13027,"brooks, ga",25.0,-0.1379,0.0870,60.0,0.1019,0.4424,4.0,...,-0.0080,1729.0,0.0147,-0.0248,295232.0,0.0561,-0.2647,26.0,-0.1500,-0.1905
3,202410,25027,"worcester, ma",1104.0,0.0755,0.3826,31.0,0.0339,0.2200,874.0,...,0.0397,1985.0,0.0074,0.0559,635754.0,-0.0007,0.0669,1361.0,0.0998,0.3876
5,202410,51183,"sussex, va",18.0,0.5000,-0.0769,28.0,-0.3956,-0.3038,8.0,...,0.0321,1764.0,0.1999,0.2529,379463.0,0.3926,0.6408,25.0,0.4706,-0.1071
7,202410,53011,"clark, wa",1474.0,-0.0277,0.3475,58.0,0.0087,0.2473,604.0,...,0.0003,2225.0,0.0088,-0.0040,847493.0,0.0022,0.0098,2292.0,-0.0182,0.2906
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
310172,201607,20003,"anderson, ks",60.0,NaN,NaN,111.0,NaN,NaN,8.0,...,NaN,1492.0,NaN,NaN,104192.0,NaN,NaN,61.0,NaN,NaN
310173,201607,9013,"tolland, ct",1021.0,NaN,NaN,64.0,NaN,NaN,232.0,...,NaN,1844.0,NaN,NaN,287802.0,NaN,NaN,1261.0,NaN,NaN
310174,201607,49043,"summit, ut",1094.0,NaN,NaN,68.0,NaN,NaN,252.0,...,NaN,2651.0,NaN,NaN,1888026.0,NaN,NaN,1384.0,NaN,NaN
310175,201607,51009,"amherst, va",184.0,NaN,NaN,73.0,NaN,NaN,52.0,...,NaN,1907.0,NaN,NaN,244668.0,NaN,NaN,240.0,NaN,NaN
310176,201607,21023,"bracken, ky",30.0,NaN,NaN,114.0,NaN,NaN,8.0,...,NaN,1650.0,NaN,NaN,214186.0,NaN,NaN,42.0,NaN,NaN

In [13]:
#Dropping rows with NaN values
df_cleaned = cleaned_df.dropna()
df_cleaned.head()

,month_date_yyyymm,county_fips,county_name,active_listing_count,active_listing_count_mm,active_listing_count_yy,median_days_on_market,median_days_on_market_mm,median_days_on_market_yy,new_listing_count,...,median_listing_price_per_square_foot_yy,median_square_feet,median_square_feet_mm,median_square_feet_yy,average_listing_price,average_listing_price_mm,average_listing_price_yy,total_listing_count,total_listing_count_mm,total_listing_count_yy
3,202410,25027,"worcester, ma",1104.0,0.0755,0.3826,31.0,0.0339,0.2200,874.0,...,0.0397,1985.0,0.0074,0.0559,635754.0,-0.0007,0.0669,1361.0,0.0998,0.3876
7,202410,53011,"clark, wa",1474.0,-0.0277,0.3475,58.0,0.0087,0.2473,604.0,...,0.0003,2225.0,0.0088,-0.0040,847493.0,0.0022,0.0098,2292.0,-0.0182,0.2906
10,202410,48441,"taylor, tx",623.0,-0.0341,0.1833,67.0,0.0640,0.2547,160.0,...,-0.0430,1837.0,0.0200,-0.0227,339294.0,0.0100,-0.0493,850.0,-0.0308,0.1534
20,202410,39093,"lorain, oh",436.0,0.0406,0.1414,42.0,0.1067,0.0184,330.0,...,0.1055,1906.0,-0.0232,0.0216,370679.0,-0.0262,0.1226,820.0,0.0130,-0.0162
26,202410,37157,"rockingham, nc",215.0,0.0617,0.2836,45.0,-0.1557,0.1474,118.0,...,-0.0909,1549.0,0.0787,-0.0501,287399.0,-0.0038,0.0029,366.0,0.0640,0.2180

In [16]:
#Renaming columns for readability.
df_renamed = df_cleaned.rename(columns={"month_date_yyyymm": "Date YYYMM","county_fips": "County FIPS", "county_name":"County Name","active_listing_count":"Active Listing Count",
                                "active_listing_count_mm":"Active Listing Count M/M","active_listing_count_yy":"Active Listing Count Y/Y",
                                "median_days_on_market":"Median Days on Market","median_days_on_market_mm":"Median Days on Market M/M","median_days_on_market_yy":"Median Days on Market Y/Y",
                                "new_listing_count":"New Listing Count","price_increased_count":"Price Increase Count","price_increased_count_mm":"Price Increase Count M/M",
                                "price_increased_count_yy":"Price Increase Count Y/Y","price_reduced_count":"Price Decrease Count","price_reduced_count_mm":"Price Decrease Count M/M",
                                "price_reduced_count_yy":"Price Decrease Count Y/Y","median_listing_price_per_square_foot":"Median List Price Per Sqft",
                                "median_listing_price_per_square_foot_mm":"Median List Price Per Sqft M/M","median_listing_price_per_square_foot_yy":"Median List Price Per Sqft Y/Y",
                                "median_square_feet":"Median Sqft","median_square_feet_mm":"Median sqft M/M","median_square_feet_yy":"Median Sqft Y/Y",
                                "average_listing_price":"Avg Listing Price","average_listing_price_mm":"Avg Listing Price M/M","average_listing_price_yy":"Avg Listing Price Y/Y",
                                "total_listing_count":"Total Listing Count","total_listing_count_mm":"Total Listing Count M/M","total_listing_count_yy":"Total Listing Count Y/Y"})

In [17]:
df_renamed.head()

,Date YYYMM,County FIPS,County Name,Active Listing Count,Active Listing Count M/M,Active Listing Count Y/Y,Median Days on Market,Median Days on Market M/M,Median Days on Market Y/Y,New Listing Count,...,Median List Price Per Sqft Y/Y,Median Sqft,Median sqft M/M,Median Sqft Y/Y,Avg Listing Price,Avg Listing Price M/M,Avg Listing Price Y/Y,Total Listing Count,Total Listing Count M/M,Total Listing Count Y/Y
3,202410,25027,"worcester, ma",1104.0,0.0755,0.3826,31.0,0.0339,0.2200,874.0,...,0.0397,1985.0,0.0074,0.0559,635754.0,-0.0007,0.0669,1361.0,0.0998,0.3876
7,202410,53011,"clark, wa",1474.0,-0.0277,0.3475,58.0,0.0087,0.2473,604.0,...,0.0003,2225.0,0.0088,-0.0040,847493.0,0.0022,0.0098,2292.0,-0.0182,0.2906
10,202410,48441,"taylor, tx",623.0,-0.0341,0.1833,67.0,0.0640,0.2547,160.0,...,-0.0430,1837.0,0.0200,-0.0227,339294.0,0.0100,-0.0493,850.0,-0.0308,0.1534
20,202410,39093,"lorain, oh",436.0,0.0406,0.1414,42.0,0.1067,0.0184,330.0,...,0.1055,1906.0,-0.0232,0.0216,370679.0,-0.0262,0.1226,820.0,0.0130,-0.0162
26,202410,37157,"rockingham, nc",215.0,0.0617,0.2836,45.0,-0.1557,0.1474,118.0,...,-0.0909,1549.0,0.0787,-0.0501,287399.0,-0.0038,0.0029,366.0,0.0640,0.2180